@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    /* border: 0; */
    box-sizing: border-box;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
    
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    position: relative;
    scroll-behavior: smooth;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    
  }
  
  a,
  button {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:link,
  a:active,
  a:visited {
    color: inherit;
  }
  
  button {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
  }
  
  img,
  picture {
    display: block;
    width: 100%;
  }
  
  ul[role='list'],
  ol[role='list'],
  li {
    list-style: none;
  }
  
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer components {
  .calc_h {
    height: calc(100vh - 65px - 50px);
  }
}
